USE [ProjectFinal]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END
GO
/****** Object:  Table [dbo].[Config]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Facebook] [nvarchar](500) NULL,
	[vnp_Url] [nvarchar](500) NULL,
	[vnp_Returnurl] [nvarchar](500) NULL,
	[vnpay_api_url] [nvarchar](500) NULL,
	[vnp_TmnCode] [nvarchar](500) NULL,
	[vnp_HashSecret] [nvarchar](500) NULL,
 CONSTRAINT [PK_Config] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[Phone] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewCategory]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_NewCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[NewCategoryId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[LastEditdate] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[LastEditBy] [nvarchar](50) NULL,
	[Type] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [nvarchar](200) NOT NULL,
	[TotalMoney] [money] NULL,
	[PaymentTypeId] [int] NULL,
	[PaymentStatusId] [int] NULL,
	[Phone] [nvarchar](500) NULL,
	[Name] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[Email] [nvarchar](50) NULL,
	[CreateBy] [nvarchar](128) NULL,
	[CreateDate] [datetime] NULL,
	[LastEditBy] [nvarchar](128) NULL,
	[LastEditDate] [datetime] NULL,
	[ContentPayment] [nvarchar](500) NULL,
	[ServiceId] [bigint] NULL,
	[OrderCode] [nvarchar](100) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentBanking]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentBanking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeId] [int] NULL,
	[BankCode] [nvarchar](200) NULL,
	[BankName] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[LastEditDate] [datetime] NULL,
	[LastEditBy] [uniqueidentifier] NULL,
	[BankLogo] [nvarchar](200) NULL,
	[BankInfo] [nvarchar](200) NULL,
	[BankNumber] [nvarchar](50) NULL,
	[BankReceive] [nvarchar](200) NULL,
 CONSTRAINT [PK_PaymentBanking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentExpVat]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentExpVat](
	[PaymentExpVatId] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](200) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[BuyerName] [nvarchar](100) NULL,
	[CompanyAddress] [nvarchar](200) NULL,
	[ReceiveBillAddress] [nvarchar](200) NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NULL,
	[LastEditBy] [uniqueidentifier] NULL,
	[LastEditDate] [datetime] NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentExpVat] PRIMARY KEY CLUSTERED 
(
	[PaymentExpVatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentLog]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentLog](
	[PaymentLogId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [nvarchar](128) NULL,
	[Amount] [numeric](18, 0) NULL,
	[PaymentStatusId] [int] NULL,
	[PaymentTypeId] [int] NULL,
	[CustomerName] [nvarchar](500) NULL,
	[CreateBy] [nvarchar](128) NULL,
	[CreateDate] [datetime] NULL,
	[BankCode] [nvarchar](50) NULL,
	[BankTranNo] [nvarchar](50) NULL,
	[CardType] [nvarchar](50) NULL,
	[OrderInfo] [nvarchar](500) NULL,
	[TransactionNo] [nvarchar](50) NULL,
	[ResponseCode] [nvarchar](50) NULL,
	[TxnRef] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentLog] PRIMARY KEY CLUSTERED 
(
	[PaymentLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Money] [money] NULL,
	[Descripttion] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ServiceCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Pass] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 6/29/2021 11:17:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Link] [nvarchar](500) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Config] ON 

INSERT [dbo].[Config] ([Id], [Phone], [Email], [Description], [Facebook], [vnp_Url], [vnp_Returnurl], [vnpay_api_url], [vnp_TmnCode], [vnp_HashSecret]) VALUES (8, N'0372166368', N'admin@gmail.com', NULL, N'facebook.com', N'http://sandbox.vnpayment.vn/paymentv2/vpcpay.html', N'https://localhost:44365/Payment/ReturnUrl', N'https://merchant.vnpay.vn/merchant_webapi/merchant.html', N'ILOTT001', N'XREURTBXDHGJNDXCQQLJEAZUSVPHOERK')
SET IDENTITY_INSERT [dbo].[Config] OFF
GO
SET IDENTITY_INSERT [dbo].[NewCategory] ON 

INSERT [dbo].[NewCategory] ([Id], [Name], [Description], [Status]) VALUES (1, N'Trẻ em vùng cao', N'Vì cuộc sống được đến trường, vì tương lai con em chúng ta xóa tan nạn mù chữ. Hỡi những con người  Việt Nam hãy chung tay giúp những búp mắng non được đên trường đi học.', 1)
INSERT [dbo].[NewCategory] ([Id], [Name], [Description], [Status]) VALUES (2, N'Vùng lũ lụt', N'Chung tay giúp bà con vùng lũ có thể vượt qua một năm đầy khó khăn', 1)
INSERT [dbo].[NewCategory] ([Id], [Name], [Description], [Status]) VALUES (3, N'Nghệ sĩ', N'Những nghệ sĩ làm từ thiện ', 1)
SET IDENTITY_INSERT [dbo].[NewCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
INSERT [dbo].[Order] ([OrderId], [TotalMoney], [PaymentTypeId], [PaymentStatusId], [Phone], [Name], [Address], [Email], [CreateBy], [CreateDate], [LastEditBy], [LastEditDate], [ContentPayment], [ServiceId], [OrderCode]) VALUES (N'00b48d20-fbce-4a42-bb3e-9fdafe728d72', 10000000.0000, 3, 0, N'0372166368', N'thành', N'Liên Nghĩa', N'tienthanhtk11@gmail.com', NULL, CAST(N'2021-06-18T22:58:27.897' AS DateTime), NULL, CAST(N'2021-06-18T22:58:27.897' AS DateTime), N'ủng hộ ', 1, NULL)
INSERT [dbo].[Order] ([OrderId], [TotalMoney], [PaymentTypeId], [PaymentStatusId], [Phone], [Name], [Address], [Email], [CreateBy], [CreateDate], [LastEditBy], [LastEditDate], [ContentPayment], [ServiceId], [OrderCode]) VALUES (N'00dc42fc-7b10-44af-907f-03d2b282abc0', 10000000.0000, 3, 0, N'0858111232', N'thành', N'Liên Nghĩa, Văn Giang', N'tienthanhtk11@gmail.com', NULL, CAST(N'2021-05-02T14:36:13.047' AS DateTime), NULL, CAST(N'2021-05-02T14:36:13.047' AS DateTime), N'ủng hộ ', 4, NULL)
INSERT [dbo].[Order] ([OrderId], [TotalMoney], [PaymentTypeId], [PaymentStatusId], [Phone], [Name], [Address], [Email], [CreateBy], [CreateDate], [LastEditBy], [LastEditDate], [ContentPayment], [ServiceId], [OrderCode]) VALUES (N'1218f2e0-f987-40c7-a71d-ccb677afcb65', 1000000.0000, 3, 1, N'0372166368', N'fdrff', N'aa', N'a@a./a', NULL, CAST(N'2021-05-24T21:37:39.643' AS DateTime), NULL, CAST(N'2021-05-24T21:37:39.643' AS DateTime), N'adsadas ', 2, NULL)
GO
SET IDENTITY_INSERT [dbo].[PaymentBanking] ON 

INSERT [dbo].[PaymentBanking] ([Id], [PaymentTypeId], [BankCode], [BankName], [CreateDate], [CreateBy], [LastEditDate], [LastEditBy], [BankLogo], [BankInfo], [BankNumber], [BankReceive]) VALUES (1, 1, N'ABBANK', N'Ngân hàng thương mại cổ phần An Bình (ABBANK)', CAST(N'2020-07-17T14:18:29.523' AS DateTime), NULL, CAST(N'2020-07-17T14:18:29.523' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PaymentBanking] ([Id], [PaymentTypeId], [BankCode], [BankName], [CreateDate], [CreateBy], [LastEditDate], [LastEditBy], [BankLogo], [BankInfo], [BankNumber], [BankReceive]) VALUES (2, 1, N'ACB', N'Ngân hàng ACB', CAST(N'2020-07-17T14:18:29.523' AS DateTime), NULL, CAST(N'2020-07-17T14:18:29.523' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PaymentBanking] ([Id], [PaymentTypeId], [BankCode], [BankName], [CreateDate], [CreateBy], [LastEditDate], [LastEditBy], [BankLogo], [BankInfo], [BankNumber], [BankReceive]) VALUES (3, 1, N'AGRIBANK', N'Ngân hàng Nông nghiệp (Agribank)', CAST(N'2020-07-17T14:18:29.527' AS DateTime), NULL, CAST(N'2020-07-17T14:18:29.527' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PaymentBanking] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentExpVat] ON 

INSERT [dbo].[PaymentExpVat] ([PaymentExpVatId], [OrderCode], [CompanyName], [TaxCode], [BuyerName], [CompanyAddress], [ReceiveBillAddress], [CreateBy], [CreateDate], [LastEditBy], [LastEditDate], [Email]) VALUES (1, N'65dd35ee-4289-45af-b700-3e19992d1cea', N'Công ty A', N'12354354353', NULL, N'Hưng Yên', NULL, NULL, NULL, NULL, NULL, N'tienthanhtk11@gmail.com')
INSERT [dbo].[PaymentExpVat] ([PaymentExpVatId], [OrderCode], [CompanyName], [TaxCode], [BuyerName], [CompanyAddress], [ReceiveBillAddress], [CreateBy], [CreateDate], [LastEditBy], [LastEditDate], [Email]) VALUES (2, N'7578dbb8-ea4b-44ea-a107-63918ab98ba6', N'Công ty b', N'12354354353', NULL, N'Hưng Yên', NULL, NULL, NULL, NULL, NULL, N'nguyenthituyenntthy@gmail.com')
INSERT [dbo].[PaymentExpVat] ([PaymentExpVatId], [OrderCode], [CompanyName], [TaxCode], [BuyerName], [CompanyAddress], [ReceiveBillAddress], [CreateBy], [CreateDate], [LastEditBy], [LastEditDate], [Email]) VALUES (3, N'c7a084a2-ed82-46d5-8fac-c07fa7c7a990', N'Ko', N'777', NULL, N'hưng yên', NULL, NULL, NULL, NULL, NULL, N'admin@gmail.com')
SET IDENTITY_INSERT [dbo].[PaymentExpVat] OFF
GO
INSERT [dbo].[PaymentStatus] ([Id], [Name]) VALUES (-1, N'Thanh toán không thành công')
INSERT [dbo].[PaymentStatus] ([Id], [Name]) VALUES (0, N'Chờ thanh toán')
INSERT [dbo].[PaymentStatus] ([Id], [Name]) VALUES (1, N'Đã thanh toán')
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([PaymentTypeId], [Name]) VALUES (1, N'Thẻ ATM nội địa')
INSERT [dbo].[PaymentType] ([PaymentTypeId], [Name]) VALUES (2, N'Thẻ tín dụng')
INSERT [dbo].[PaymentType] ([PaymentTypeId], [Name]) VALUES (3, N'Ví điện tử')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [Pass], [CreateDate], [Status]) VALUES (1, N'admin', N'123', CAST(N'2021-03-14T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[User] ([Id], [UserName], [Pass], [CreateDate], [Status]) VALUES (2, N'nga', N'1234', CAST(N'2021-05-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[User] ([Id], [UserName], [Pass], [CreateDate], [Status]) VALUES (3, N'10117066', N'10117066', CAST(N'2021-05-20T13:21:44.653' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Video] ON 

INSERT [dbo].[Video] ([Id], [Name], [Description], [Link], [Status]) VALUES (1, N'Công tác từ thiện - Thiện nguyện tại Hyundai Tuyên Quang ', N'<p>Công tác từ thiện - Thiện nguyện tại Hyundai Tuyên Quang #1 Hyundai Tuyên Quang Thiện Nguyện, hành trình yêu thương. Hãy đồng hành cùng chúng tôi!……</p>', N'<iframe width="560" height="315" src="https://www.youtube.com/embed/YhiK46Had4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>', 1)
INSERT [dbo].[Video] ([Id], [Name], [Description], [Link], [Status]) VALUES (3, N'Chương trình từ thiện phát quà trung thu cho các bé và phát quà cho người nghèo tại Ninh Thuận 2020', N'<h4>CHƯƠNG TRÌNH TỪ THIỆN PHÁT QUÀ TRUNG THU CHO CÁC BÉ VÀ PHÁT QUÀ CHO NGƯỜI NGHÈO TẠI NINH THUẬN 2020</h4><p>&nbsp;</p>', N'<iframe width="560" height="315" src="https://www.youtube.com/embed/JzgblWtamPg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>', 1)
SET IDENTITY_INSERT [dbo].[Video] OFF
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PaymentLog] ADD  CONSTRAINT [DF_PaymentLog_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_NewCategory] FOREIGN KEY([NewCategoryId])
REFERENCES [dbo].[NewCategory] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_NewCategory]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[PaymentStatus] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentType] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([PaymentTypeId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentType]
GO
ALTER TABLE [dbo].[PaymentBanking]  WITH CHECK ADD  CONSTRAINT [FK_PaymentBanking_PaymentType] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([PaymentTypeId])
GO
ALTER TABLE [dbo].[PaymentBanking] CHECK CONSTRAINT [FK_PaymentBanking_PaymentType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'getdate()' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Service'
GO
